.about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    width: 100%;
}

.me{

    width: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: aquamarine; */
}